/* Font */

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff2") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff2") format("woff");
}

/* colors */

:root {
  /*  названия цветов */
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --special-grey: #F2F2F2;
  --special-grey-dark: #EAEAEA;
  --special-grey-more-dark: #A6A6A6;
  --special-half-grey: #D9D9D9;
  --special-red: #F6DADA;
  --black-rgba-07: rgba(0, 0, 0, 0.7);
  --black-rgba-06: rgba(0, 0, 0, 0.6);
  --black-rgba-04: rgba(0, 0, 0, 0.4);
  --black-rgba-05: rgba(0, 0, 0, 0.5);
  --black-rgba-03: rgba(0, 0, 0, 0.3);
  --black-rgba-02: rgba(0, 0, 0, 0.2);
  --black-rgba-01: rgba(0, 0, 0, 0.1);
  --white-rgba-07: rgba(255, 255, 255, 0.7);
  --white-rgba-06: rgba(255, 255, 255, 0.6);
  --white-rgba-04: rgba(255, 255, 255, 0.4);
  --white-rgba-03: rgba(255, 255, 255, 0.3);
  /* цвет по функциональности */
  /* текст */
  --basic-text: var(--basic-black);
  --footer-basic-text: var(--basic-white);
  --footer-user-link: var(--white-rgba-07);
  --footer-user-link-hover: var(--basic-white);
  --footer-user-link-active: var(--white-rgba-03);
  --modal-placeholder-text: var(--white-rgba-04);
  --search-placeholder-text: var(--white-rgba-03);
  --exit-link-text: var(--black-rgba-03);
  --breadcrumbs-text: var(--black-rgba-03);
  --inactive-text: var(--black-rgba-03);
  --header-bg: var(--special-yellow);
  --category-ico-bg: var(--special-yellow);
  --category-ico-action-bg: var(--special-yellow-dark);
  --serv-tab-active-text: var(--special-yellow);
  --footer-bg: var(--basic-dark);
  --footer-nav-link: var(--basic-white);
  --breadcrumbs-text: var(--black-rgba-03);
  --breadcrumbs-hover-text: var(--black-rgba-06);
  --breadcrumbs-active-text: var(--black-rgba-01);
  --modal-bg: var(--basic-white);
  --modal-input-bg: var(--special-grey);
  --modal-input-hover-bg: var(--special-grey-dark);
  --modal-input-active-bg: var(--basic-white);
  --modal-input-active-outline: var(--special-yellow);
  --modal-input-error-bg: var(--special-red);
  --filter-disabled-option: var(--special-grey-more-dark);
  --sort-inactive: var(--black-rgba-03);
  --sort-hover: var(--black-rgba-06);
  --compare-button: var(--black-rgba-05);
  --compare-button-active: var(--black-rgba-02);
  --page-txtbtn-active: var(--black-rgba-03);
  --page-txtbtn-acive-bg: var(--special-half-grey);
  --page-numbtn: var(--black-rgba-03);
  --page-numbtn-hover: var(--black-rgba-06);
  --page-numbtn-active: var(--basic-black);
  --service-bg: var(--basic-grey-light);
  /* заливка */
}

/* инициализация стилей */

html {
  /* для грида */
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-text);
  /* для грида */
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 194px 146px 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-content h1, .page-content h2, .page-content h3 {
  margin: 0;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  /* сетка */
  outline: 1px solid salmon;
}

/* -----------  Кнопки  ----------------*/

.button {
  display: block;
  border: none;
  text-align: center;
  background-color: transparent;
}

/* !!!тут сверстать поведение главной кнопки
и расставить по страницам */

.page-button {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* !!! странное поведение - пропадает текст - надо разобраться позже - при верстке фона,
возможно надо заменить на color*/

.page-button:active {
  opacity: 0.3;
}

/* тот же шрифт, но иное поведение */

.service-button {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.compare-button {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--compare-button);
}

.compare-button:hover {
  color: var(--basic-text);
}

.compare-button:active {
  color: var(--compare-button-active);
}

/* !!!! --------- header  -------------*/

.page-header {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  background-image: linear-gradient( var(--basic-white) 40px, var(--header-bg) 40px, var(--header-bg) 100%);
}

.header-data-wrapper {
  padding: 20px 60px 0;
}

.header-user-control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.user-search-form {
  line-height: 20px;
}

.user-search-button {
  text-transform: uppercase;
}

.user-control-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 20px;
}

.header-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav-catalog-root {
  position: relative;
}

.catalog-wrapper {
  position: absolute;
  width: 1040px;
  /* height: 146px; */
}

.nav-catalog-list {
  /* !!! Переделать через focus-within */
  /**/
  /* display: block; */
  /* width: 100%; */
  /*height: 100%; */
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start; */
  /*  align-items: flex-end; */
  /*   minmax(max-content, 1fr) */
  display: none;
  grid-template-columns: repeat(5, max-content);
  /*  grid-template-columns: max-content max-content max-content max-content 1fr 1fr ; */
  grid-template-rows: repeat(3, 1fr);
  column-gap: 61px;
  margin: 0;
  padding: 0;
  padding-right: 70%;
  list-style: none;
  line-height: 20px;
  outline: 2px solid slateblue;
}

/* позже убрать эту штуку - восле переделки на :focus-within*/

.nav-catalog-list.open {
  display: grid;
}

.nav-catalog-item {
  margin-bottom: 20px;
  /*   margin-right: 61px; */
}

/* .nav-catalog-item:last-child{
  margin-right: auto;
} */

.user-control-item a:hover, .user-control-item a:focus, .header-nav-link:hover, .header-nav-link:focus, .nav-catalog-list a:hover, .nav-catalog-list a:focus {
  opacity: 0.6;
}

.user-control-item a:active, .header-nav-link:active, .nav-catalog-list a:active {
  opacity: 0.3;
}

/* !!! ------- MAIN ----------- */

.page-content {
  grid-column: 1 / -1;
  grid-row: 2 / 4;
}

/* !!!! --------- PROMO -------- */

.promo {
  position: relative;
  margin-bottom: 76px;
}

.promo-slide-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-slide-item {
  display: none;
}

.promo-slide-item.selected {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

/* !!!! у разных слайдов разная центровка */

.promo-slide-1 .promo-slide-img-wrap {
  text-align: center;
}

.promo-slide-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.slide-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.promo-slide-text {
  line-height: 20px;
}

.promo-slide-content-wrap dl {
  /*   margin: 0;
  padding: 0; */
  order: 2;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 64px;
}

/* !!!!!!!!! .definition-item  - flex */

.promo-slide-item dt {
  /*  margin: 0;
  padding: 0; */
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.promo-slide-item dd {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slide-control-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* !!!! -------- CATEGORY ------------ */

.category {
  margin-bottom: 49px;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-link h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.category-ico-wrapper {
  background-color: var(--category-ico-bg);
  /* временно */
  /* width: 30px;
height: 30px; */
}

.category-link:hover .category-ico-wrapper, .category-link:active .category-ico-wrapper {
  background-color: var(--category-ico-action-bg);
}

.category-link:active h3 {
  opacity: 0.3;
}

/* !!!! ---------- SERVICE ---------- */

.service {
  background-image: linear-gradient( var( --basic-white) 115px, var(--service-bg) 115px, var(--service-bg) 100%);
}

.service-content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

.tab-control-list {
  grid-column: 1 / 2;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-button:active {
  color: var(--serv-tab-active-text);
}

.service-slide-list {
  grid-column: 2 / -1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-desc-item {
  display: none;
}

.service-desc-item.selected {
  display: block;
}

.service-desc-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service-desc-text {
  line-height: 30px;
  letter-spacing: 0.1em;
}

.section-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

/* !!!!!!!! ------------- ПОСТАВЩИКИ -------------- */

.manufacturer-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturer-item img {
  filter: grayscale(1);
  opacity: 0.3;
}

.manufacturer-item:hover img, .manufacturer-item:focus-within img, .manufacturer-item a:active img {
  filter: grayscale(0);
  opacity: 1;
}

/* !!!!!!!!!---------- О НАС и КОНТАКТЫ --------- */

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.transport-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
}

/* !!! ---------  FOOTER -------- */

.page-footer {
  grid-column: 1 / -1;
  grid-row: 4 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "logo ucntrl ucntrl ucntrl" "addr nav nav tel" "nan soc soc made";
  column-gap: 40px;
  row-gap: 20px;
  background-color: var(--footer-bg);
  color: var(--footer-basic-text);
}

.page-footer address {
  grid-area: addr;
  font-style: normal;
}

.footer-control-list {
  grid-area: ucntrl;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 20px;
  color: var(--footer-user-link);
}

.footer-control-list a:hover, .footer-control-list a:focus {
  color: var(--footer-user-link-hover);
}

.footer-control-list a:active {
  color: var(--footer-user-link-active);
}

.footer-nav-list {
  grid-area: nav;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--footer-basic-text);
}

.footer-nav-list a:hover, .footer-nav-list a:focus {
  opacity: 0.6;
}

.footer-nav-list a:active {
  opacity: 0.3;
}

.footer-tel-link {
  grid-area: tel;
}

.social-list {
  grid-area: soc;
  margin: 0;
  padding: 0;
  list-style: none;
}

.made-by {
  grid-area: made;
}

/* --------- страница каталога --------- */

.catalog-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--breadcrumbs-text);
}

.breadcrumbs a:hover {
  color: var(--breadcrumbs-hover-text);
}

.breadcrumbs a:active {
  color: var(--breadcrumbs-active-text);
}

.filter-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.product-filter label {
  font-size: 14px;
  line-height: 19px;
}

/* !!!если буду стилизовать по спискам, то надо сброс отступов перенести в списки */

.product-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input:disabled+label {
  color: var(--filter-disabled-option);
}

.filter-legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.price-fieldset {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.sort-type-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 19px;
  color: var(--sort-inactive);
}

.sort-type-list a.selected {
  color: var(--basic-text);
}

.sort-type-list a:hover, .sort-type-list a:focus {
  color: var(--sort-hover);
}

.sort-type-list a:active {
  color: var(--basic-text);
}

.sort-direction-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 19px;
}

/* Каталог */

.product-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.product-price {
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pagination-item a.numpage {
  color: var(--page-numbtn);
}

.pagination-item a.numpage.selected {
  color: var(--basic-text);
}

.pagination-item a.numpage:hover {
  color: var(--page-numbtn-hover);
}

.pagination-item a.numpage:active {
  color: var(--basic-text);
}

/* похоже, что не работает. Возможно перенести на уровень li */

.pagination-item .textpage:hover {
  background-color: var(--page-txtbtn-active-bg);
}

.pagination-item .textpage:active {
  color: var(--page-txtbtn-active);
  background-color: var(--page-txtbtn-active-bg);
}

/* всплывающие окна */

/* попробовать поля обратной связи сделать унифицированными */

.modal {
  display: none;
  background-color: var(--modal-bg);
  box-shadow: (0px 10px 16px rgba(0, 0, 0, 0.15));
}

.modal-msg label {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.modal-msg input {
  font-size: 14px;
  line-height: 19px;
  background-color: var(--modal-input-bg)
}

.modal-msg input:hover {
  background-color: var(--modal-input-hover-bg);
}

.modal-msg input:active, .modal-msg input:focus, .modal-msg textarea:active, .modal-msg textarea:focus {
  background-color: var(--modal-input-active-bg);
  outline: 2px solid var(--modal-input-active-outline);
}

.modal-msg input.error {
  background-color: var(--modal-input-hover-bg);
}
