/* Font */

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff2") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff2") format("woff");
}

/* colors */

:root {
  /*  названия цветов */
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --special-grey: #F2F2F2;
  --special-grey-dark: #EAEAEA;
  --special-grey-more-dark: #A6A6A6;
  --special-half-grey: #D9D9D9;
  --special-red: #F6DADA;
  --black-rgba-07: rgba(0, 0, 0, 0.7);
  --black-rgba-06: rgba(0, 0, 0, 0.6);
  --black-rgba-04: rgba(0, 0, 0, 0.4);
  --black-rgba-05: rgba(0, 0, 0, 0.5);
  --black-rgba-03: rgba(0, 0, 0, 0.3);
  --black-rgba-02: rgba(0, 0, 0, 0.2);
  --black-rgba-01: rgba(0, 0, 0, 0.1);
  --white-rgba-07: rgba(255, 255, 255, 0.7);
  --white-rgba-06: rgba(255, 255, 255, 0.6);
  --white-rgba-04: rgba(255, 255, 255, 0.4);
  --white-rgba-03: rgba(255, 255, 255, 0.3);
  /* цвет по функциональности */
  /* текст */
  --basic-text: var(--basic-black);
  --footer-basic-text: var(--basic-white);
  --footer-user-link: var(--white-rgba-07);
  --footer-user-link-hover: var(--basic-white);
  --footer-user-link-active: var(--white-rgba-03);
  --modal-placeholder-text: var(--white-rgba-04);
  --search-placeholder-text: var(--white-rgba-03);
  --exit-link-text: var(--black-rgba-03);
  --breadcrumbs-text: var(--black-rgba-03);
  --inactive-text: var(--black-rgba-03);
  --header-bg: var(--special-yellow);
  --category-ico-bg: var(--special-yellow);
  --category-ico-action-bg: var(--special-yellow-dark);
  --serv-tab-active-text: var(--special-yellow);
  --footer-bg: var(--basic-dark);
  --footer-nav-link: var(--basic-white);
  --breadcrumbs-text: var(--black-rgba-03);
  --breadcrumbs-hover-text: var(--black-rgba-06);
  --breadcrumbs-active-text: var(--black-rgba-01);
  --modal-bg: var(--basic-white);
  --modal-input-bg: var(--special-grey);
  --modal-input-hover-bg: var(--special-grey-dark);
  --modal-input-active-bg: var(--basic-white);
  --modal-input-active-outline: var(--special-yellow);
  --modal-input-error-bg: var(--special-red);
  --filter-disabled-option: var(--special-grey-more-dark);
  --sort-inactive: var(--black-rgba-03);
  --sort-hover: var(--black-rgba-06);
  --compare-button: var(--black-rgba-05);
  --compare-button-active: var(--black-rgba-02);
  --page-txtbtn-active: var(--black-rgba-03);
  --page-txtbtn-acive-bg: var(--special-half-grey);
  --page-numbtn: var(--black-rgba-03);
  --page-numbtn-hover: var(--black-rgba-06);
  --page-numbtn-active: var(--basic-black);
  /* заливка */
}

/* инициализация стилей */

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-text);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  display: block;
  border: none;
  text-align: center;
  background-color: transparent;
}

/* !!!тут сверстать поведение главной кнопки
и расставить по страницам */

.page-button {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* !!! странное поведение - пропадает текст - надо разобраться позже - при верстке фона,
возможно надо заменить на color*/

.page-button:active {
  opacity: 0.3;
}

/* тот же шрифт, но иное поведение */

.service-button {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.compare-button {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--compare-button);
}

.compare-button:hover {
  color: var(--basic-text);
}

.compare-button:active {
  color: var(--compare-button-active);
}

/* header */

.page-header {
  /* пока временно */
  background-color: var(--header-bg);
}

.user-search-form {
  line-height: 20px;
}

.user-search-button {
  text-transform: uppercase;
}

.user-control-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 20px;
}

.header-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav-catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 20px;
}

.user-control-item a:hover, .user-control-item a:focus, .header-nav-link:hover, .header-nav-link:focus, .nav-catalog-list a:hover, .nav-catalog-list a:focus {
  opacity: 0.6;
}

.user-control-item a:active, .header-nav-link:active, .nav-catalog-list a:active {
  opacity: 0.3;
}

.promo-slide-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.promo-slide-text {
  line-height: 20px;
}

.promo-slide-item dt {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.promo-slide-item dd {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.slide-control-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-link h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.category-ico-wrapper {
  background-color: var(--category-ico-bg);
  /* временно */
  /* width: 30px;
height: 30px; */
}

.category-link:hover .category-ico-wrapper, .category-link:active .category-ico-wrapper {
  background-color: var(--category-ico-action-bg);
}

.category-link:active h3 {
  opacity: 0.3;
}

.tab-control-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-button:active {
  color: var(--serv-tab-active-text);
}

.service-slide-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-desc-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service-desc-text {
  line-height: 30px;
  letter-spacing: 0.1em;
}

.section-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.transport-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
}

.page-footer {
  background-color: var(--footer-bg);
  color: var(--footer-basic-text);
}

.page-footer address {
  font-style: normal;
}

.footer-control-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 20px;
  color: var(--footer-user-link);
}

.footer-control-list a:hover, .footer-control-list a:focus {
  color: var(--footer-user-link-hover);
}

.footer-control-list a:active {
  color: var(--footer-user-link-active);
}

.footer-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--footer-basic-text);
}

.footer-nav-list a:hover, .footer-nav-list a:focus {
  opacity: 0.6;
}

.footer-nav-list a:active {
  opacity: 0.3;
}

/* страница каталога */

.catalog-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--breadcrumbs-text);
}

.breadcrumbs a:hover {
  color: var(--breadcrumbs-hover-text);
}

.breadcrumbs a:active {
  color: var(--breadcrumbs-active-text);
}

.filter-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.product-filter label {
  font-size: 14px;
  line-height: 19px;
}

/* !!!если буду стилизовать по спискам, то надо сброс отступов перенести в списки */

.product-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input:disabled+label {
  color: var(--filter-disabled-option);
}

.filter-legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.price-fieldset {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.sort-type-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 19px;
  color: var(--sort-inactive);
}

.sort-type-list a.selected {
  color: var(--basic-text);
}

.sort-type-list a:hover, .sort-type-list a:focus {
  color: var(--sort-hover);
}

.sort-type-list a:active {
  color: var(--basic-text);
}

.sort-direction-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 19px;
}

/* Каталог */

.product-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.product-price {
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pagination-item a.numpage {
  color: var(--page-numbtn);
}

.pagination-item a.numpage.selected {
  color: var(--basic-text);
}

.pagination-item a.numpage:hover {
  color: var(--page-numbtn-hover);
}

.pagination-item a.numpage:active {
  color: var(--basic-text);
}

/* похоже, что не работает. Возможно перенести на уровень li */

.pagination-item .textpage:hover {
  background-color: var(--page-txtbtn-active-bg);
}

.pagination-item .textpage:active {
  color: var(--page-txtbtn-active);
  background-color: var(--page-txtbtn-active-bg);
}

/* всплывающие окна */

/* попробовать поля обратной связи сделать унифицированными */

.modal {
  background-color: var(--modal-bg);
  box-shadow: (0px 10px 16px rgba(0, 0, 0, 0.15));
}

.modal-msg label {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.modal-msg input {
  font-size: 14px;
  line-height: 19px;
  background-color: var(--modal-input-bg)
}

.modal-msg input:hover {
  background-color: var(--modal-input-hover-bg);
}

.modal-msg input:active, .modal-msg input:focus, .modal-msg textarea:active, .modal-msg textarea:focus {
  background-color: var(--modal-input-active-bg);
  outline: 2px solid var(--modal-input-active-outline);
}

.modal-msg input.error {
  background-color: var(--modal-input-hover-bg);
}
